.choice-container{
    display: flex;
    margin-bottom: 0.5rem;
    width:100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background-color: white;


}

.choice-prefix{
    padding:1.5rem 2.5rem;
    background-color: #56a5eb;
    color: white;
}

.choice-text{

    padding: 1.5rem;
    width:100%;
}

.choice-container:hover{
    cursor:pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

:root {
    background-color: #ecf5ff;
    font-size: 62.5%;
  }
  
  * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
  }
  
  /* UTILITIES */
  
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
  }
  
  .container > * {
    width: 100%;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  
  .justify-center {
    justify-content: center;
  }

  .correct {
    background-color: #28a745;
  }
  
  .incorrect {
    background-color: #dc3545;
  }

  #hud{
    display:flex;
    justify-content:space-between;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5rem;
    margin-left: -20px;
    margin-right: 33px;
  }

  #progressBar {

    width:60rem;
    height: 1.5rem;
    border: 0.3rem solid #56a5eb;
    margin-top: 3.5rem;
    background-color:#ecf0f5;
    border-radius: 1.5rem;
  }

  #progressBarFull {

    height: 1rem;
    background-color: #56a5eb;
    width:0%;

  }

  /*#progressText{
    color:#333;
    font-size: 1.6rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    margin-top: 0.5rem;
    border-bottom: 0.1rem solid #56a5eb;
  }*/

  .hidden{
    display: none;
  }

  /*Loader*/

  #loader{
    border:1.6rem solid white;
    border-radius: 50%;
    border-top:1.6rem solid #56a5eb;
    width:12rem;
    height: 12rem;
    animation: spin 2s linear infinite;
  }

  @keyframes spin{
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }


